*
{
    font-family: 'Heebo', sans-serif;
    /* border-style: solid;
    border-color: #ccc;
    border-width: 1px; */
    margin: 0 auto;
    padding: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

header
{
    display: flex;
    padding: 1%;
}

#title
{
    flex: 7;
    font-size: 16pt;
}

nav
{
    flex: 6;
    display: flex;
}

.link
{
    flex: 1;
    text-align: center;
    padding: 3px;
}

#headline
{
    padding: 3%;
    font-size: 40pt;
}

#aufmacher
{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 800px;
    background-image: url(img/aufmacher3.jpg);
}

#preproj
{
    padding: 5%;
    padding-right: 50%;
    line-height: 20pt;
}

#projekte
{
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}

.projekt
{
    flex: 1 0 45%;
    margin: 1.5%;
    height: 700px;
    transition: 1s;
}

.projekt:hover
{
    filter: brightness(80%); 
    cursor: pointer;
}

.projektimg
{
    height: 90%;
}

.projekthead
{
    font-size: 20pt;
    font-weight: bold;
    padding-top: 1%;
}

#ad
{
    padding: 5%;
    padding-right: 50%;
    background-color: #555;
    color: #ffffff;
    line-height: 20pt;
}

#ad h2, #preproj h2
{
    font-size: 30pt;
}

p
{
    margin-top: 40px;
    font-family: 'Varta', sans-serif;
}

footer
{
    padding: 5%;
    color: #444;
    padding-right: 40%;
}

#footerinfo
{
    margin-top: 20px;
    display: flex;
    
}

.impr
{
    flex: 1;
    font-family: 'Varta', sans-serif;
}