*
{
    font-family: 'Heebo', sans-serif;
    margin: 0 auto;
    padding: 0;

    /* --- Debugging --- */
    /* border-style: solid;
    border-color: #ccc;
    border-width: 1px; */
    /* ----------------- */

}


#pageup
{
    position: fixed;
    top: auto;
    left: auto;
    bottom: 3%;
    right: 3%;
    background-color: #3dc969;
    color: #ffffff;
    padding-top: 24px;
    border-radius: 35px;
    width: 70px;
    height: 46px;
    text-align: center;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 100;
    /* transition: 0.3s; */
    display: none;
}

#pageup:hover
{
    filter: brightness(90%); 
    cursor: pointer;
}

#navbar a
{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #fff;
    transition: 0.15s;
}

#navbar a:hover
{
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

#placeholder
{
    height: 40px;
    width: 100%;
}

header
{
    padding-left: 3%;
    display: flex;
    background: #ffffff;
}

#logosmall
{
    width: 40px;
    background-image: url(img/logosmall.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#navbar
{
    flex: 40;
    display: flex;
    padding: 1%;
    padding-bottom: 15px;
    padding-top: 15px;
}

#title
{
    flex: 6;
    font-size: 16pt;
}

#topnav
{
    flex: 4;
    display: flex;
}

.link
{
    flex: 1 1 auto;
    text-align: center;
    padding: 3px;
}

.headline h1
{
    padding: 3%;
    font-size: 40pt;
    line-height: 44pt;
    font-weight: normal;
}

#aufmacher
{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 800px;
}

section
{
    max-width: 1920px;
}

#preproj
{
    padding: 5%;
    padding-right: 50%;
    line-height: 20pt;
}

#preproj a
{
    color: #000000;
    transition: 0.15s;
}

#preproj a:hover
{
    color: #3dc969;
}

.sechead
{
    text-align: center;
}

.sechead h2
{
    margin-bottom: 0;
}

#kompetenzen
{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.kompetenz
{
    flex: 1;
    padding: 5%;
}

.kompetenz h3
{
    font-size: 20pt;
    font-family: 'Karla', sans-serif;
}

.kompetenz i
{
    color: #3dc969;
    font-size: 70pt;
    margin-bottom: 20px;
}

#projekte
{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

#projekte a
{
    text-decoration: none;
    color: #222222;
}

.projekt
{
    flex: 1 0 42%;
    margin: 3%;
    transition: 0.2s;
}

.projekt:hover
{
    /* transform: scale(1.01); */
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.projektimg
{
    height: 25vw;
    max-height: 400px;
}

.projekthead
{
    padding: 4%;
    padding-top: 2%;
    
}

.projekthead p
{
    margin: 0;
    font-family: 'Varta', sans-serif;
}

.projekt h3
{
    font-size: 20pt;
    font-weight: bold;
    padding-top: 1%;
    background: #ffffff;
    z-index: 50;
}

.projekt h4
{
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    color: #888;
    letter-spacing: 3px;
}

.watchit
{
    border-style: solid;
    margin: 10px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
    transition: 0.2s;
    width: max-content;
    border-width: 2px;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
}

.watchit.youtube
{
    background: #ffa9a97c;
    color: #df2b2b;
}

.watchit.audio
{
    background: #92daa952;
    color: #2c8b4a;
}

.watchit.facebook
{
    background: #9299da38;
    color: #2c528b;
}

.watchit.web
{
    background: #92d2da38;
    color: #2c8b8b;
}

.watchit:hover
{
    filter: brightness(1.2);
    letter-spacing: 1.5px;
}

.goto
{
    opacity: 0;
    transition: 0.3s;
}

.watchit:hover .goto
{
    opacity: 0.7;
}

#ad
{
    padding: 5%;
    padding-right: 50%;
    background-color: #222222;
    color: #ffffff;
    line-height: 20pt;
}

h2
{
    font-size: 30pt;
    margin-bottom: 40px;
}

h3
{
    margin-bottom: 10px;
}

p
{
    margin-bottom: 20px;
    font-family: 'Varta', sans-serif;
    line-height: 20pt;
}

.button
{
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    color: #555;
    background: #ffffff;
    transition: 0.5s;
    font-family: 'Karla', sans-serif;
}

.button:hover
{
    background-color: #000;
    color: #fff;
}

footer
{
    padding: 5%;
    color: #444;
    padding-right: 40%;
}

#footerinfo
{
    margin-top: 20px;
    display: flex;
}

.impr
{
    flex: 1;
    font-family: 'Varta', sans-serif;
    line-height: 17pt;
    color: #444444;
}

/* ----------------- Homepage -------------------------- */

#uber
{
    display: flex;
    padding: 5%;
    margin-top: 50px;
}

.ubermich
{
    flex: 1;
    line-height: 20pt;
}

.ubermich h1
{
    font-size: 30pt;
}

.ubermich h2
{
    font-family: 'Karla', sans-serif;
}

#mitarbeiten
{
    background-image: url(img/aufmacher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}

#mitarbeiten h2
{
    margin-bottom: 20px;
}


/* ----------------- Über mich --------------------- */

#referenzen
{
    padding: 5%;
    padding-right: 14%;
    padding-left: 230px;
    padding-top: 0;
}

#referenzen h4
{
    font-family: 'Karla', sans-serif;
    padding-left: 5%;
    margin-top: 30px;
    color: #777;
}

#refhead
{
    padding-left: 5%;
}

#refnav
{
    position: fixed;
    padding-left: 4%;
    width: 12%;
    min-width: 200px;
}

.ref
{
    padding: 5%;
}

.ref h2
{
    font-size: 20pt;
    line-height: 24pt;
}

.ref p
{
    margin: 0;
}

.refimg
{
    background-size: cover;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 25vw;
    background-position: center;
}

.refdesc
{
    margin-top: unset;
}

#refnav h4
{
    margin-top: 10px;
    transition: 0.2s;
}

#refnav h4 a
{
    text-decoration: none;
    color: #000000;
}

#refnav h4 a:hover
{
    color: #3dc969;
    cursor: pointer;
}

.refnavpoint
{
    text-decoration: none;
    color: #222;
    font-family: 'Karla', sans-serif;
    padding-left: 5px;
    transition: 0.2s;
}

.refnavpoint:hover
{
    padding-left: 10px;
    font-weight: bold;
    color: #3dc969;
}


/* ----------------- Referenzen ---------------------- */


#bereiche
{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.bereich
{
    flex: 1 0 25%;
    margin: 2%;
    transition: 0.2s;
    filter: brightness(90%);
}

.bereich:hover
{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    filter: brightness(100%);
}

.bereichimg
{
    height: 170px;
    background-size: cover;
    background-position: bottom;
}

.bereichhead
{
    height: 100px;
    padding: 5%;
}

/* --------------------- Bereiche ------------------------ */


#contact
{
    display: flex;
    padding: 5%;
}

.contactsec
{
    flex: 1.5;
}

#contactsecleft
{
    padding-right: 10%;
    flex: 1;
}

#contactsecright
{
    font-family: 'Karla', sans-serif;
}

.shortin
{
    width: 46%;
}

.longin
{
    width: 95%;
}

input, textarea
{
    border-style: none;
    border-style: solid;
    padding: 1.5%;
    margin-bottom: 1%;
    font-family: 'Karla', sans-serif;
    font-size: 13pt;
    background: rgb(253, 254, 255);
    border-radius: 4px;
    border-color: rgb(234, 235, 236);
}

textarea
{
    width: 95%;
    height: 150px;
    resize: none;
    margin-bottom: 20px;
}

#dsgvo:hover
{
    cursor: pointer;
}

input[type=submit], .blackbutton
{
    border-color: #000000;
    background: #000000;
    color: #ffffff;
    border-radius: 0;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.75s;
    text-decoration: underline;
}

input[type=submit]:hover, .blackbutton:hover
{
    background: #ffffff;
    color: #000000;
    cursor: pointer;   
}



#thanks
{
    padding: 10%;
    text-align: center;
}

#thanks h1
{
    font-size: 30pt;
}

#thanks p
{
    margin-bottom: 60px;
}

/* ---------------- Kontakt --------------------- */

#datenschutz
{
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

#datenschutz p
{
    margin-bottom: 20px;
}

#datenschutz h3
{
    margin-top: 50px;
}

li
{
    font-family: 'Varta', sans-serif;
    margin-left: 20px;
}


@media only screen and (max-width: 980px) {

#title
{
    flex: 3;
}

.bereich
{
    flex: 1 0 30%;
}

}


@media only screen and (max-width: 675px) {

    #pageup
    {
        left: auto;
        top: auto;
        right: 5%;
        bottom: 2%;
    }

    header
    {
        padding: 5vw;
    }

    #navbar
    {
        flex: 7;
    }

    #title
    {
        display: none;
    }

    h2
    {
        line-height: 40px;
    }

    .link
    {
        font-size: 11pt;
    }

    .headline h1
    {
        font-size: 30pt;
        line-height: 32pt;
    }

    #preproj
    {
        padding: 5%;
    }

    #aufmacher
    {
        height: 120vw;
        margin-bottom: 10vw;
    }

    #kompetenzen
    {
        display: block;
    }

    #projekte
    {
        display: block;
        padding: 0;
    }

    .projekt
    {
        margin-bottom: 15vw;
    }

    .projektimg
    {
        height: 200px;
    }

    .projekthead
    {
        padding: 2%;
    }

    #ad
    {
        padding: 10vw;
    }

    footer
    {
        padding: 10vw;
    }

    #footerinfo
    {
        display: block;
    }

    #uber
    {
        margin-top: 10vw;
        display: block;
    }

    .ubermich
    {
        margin-top: 10vw;
    }

    #bereiche
    {
        display: block;
    }

    .bereich
    {
        margin-bottom: 10%;
    }

    #mitarbeiten
    {
        padding-top: 30vw;
        padding-bottom: 30vw;
    }

    #refnav
    {
        position: unset;
        margin-left: 15%;
    }

    #referenzen
    {
        padding: 0;
    }

    .refimg
    {
        height: 200px;
    }

    #contact
    {
        display: block;
    }

    .shortin
    {
        width: 40vw;
    }
}

@media only screen and (max-width: 410px) {

.link
{
    font-size: 10pt;
}

#logosmall
{
    width: 25px;
}

}

@media only screen and (max-width: 364px) {

    #logosmall
    {
        /* flex: 0.3; */
    }

}