*
{
    font-family: 'Heebo', sans-serif;
    margin: 0 auto;
    padding: 0;

    /* --- Debugging --- */
    /* border-style: solid;
    border-color: #ccc;
    border-width: 1px; */
    /* ----------------- */


}


#pageup
{
    position: fixed;
    top: 90%;
    left: 93%;
    background-color: #ffffff;
    padding-top: 24px;
    border-radius: 35px;
    width: 70px;
    height: 46px;
    text-align: center;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 100;
    /* transition: 0.3s; */
    display: none;
}

#pageup:hover
{
    filter: brightness(90%); 
    cursor: pointer;
}

#navbar a
{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #fff;
    transition: 0.15s;
}

#navbar a:hover
{
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

#placeholder
{
    height: 40px;
    width: 100%;
}

header
{
    padding-left: 3%;
    padding-bottom: 0;
    display: flex;
    background: #ffffff;
}

/* .fixed
{
    position: fixed;
    top:0; 
    left:0;
    width: 100%;
} */

#logosmall
{
    flex: 1;
    background-image: url(img/logosmall.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#navbar
{
    flex: 40;
    display: flex;
    padding: 1%;
}

#title
{
    flex: 7;
    font-size: 16pt;
}

nav
{
    flex: 4;
    display: flex;
}

.link
{
    flex: 1 1 auto;
    text-align: center;
    padding: 3px;
}

#headline
{
    padding: 3%;
    font-size: 40pt;
}

#aufmacher
{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 800px;
    background-image: url(img/aufmacher33.jpg);
}

#preproj
{
    padding: 5%;
    padding-right: 50%;
    line-height: 20pt;
}

#projekte
{
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}

.projekt
{
    flex: 1 0 45%;
    margin: 1.5%;
    height: 50vw;
    
}

.projektimg:hover
{
    filter: brightness(80%); 
    cursor: pointer;
    transform: scale(1.1);
}

.projektimgcont
{
    overflow: hidden;
    height: 90%;
}

.projektimg
{
    height: 100%;
    transition: 0.75s;
    z-index: 20;
}

.projekthead
{
    font-size: 20pt;
    font-weight: bold;
    padding-top: 1%;
    background: #ffffff;
    z-index: 50;
}

#ad
{
    padding: 5%;
    padding-right: 50%;
    background-color: #222222;
    color: #ffffff;
    line-height: 20pt;
}

h2
{
    font-size: 30pt;
}



p
{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Varta', sans-serif;
}

.button
{
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    color: #555;
    background: #ffffff;
    transition: 0.5s;
    font-family: 'Karla', sans-serif;
}

.button:hover
{
    background-color: #000;
    color: #fff;
}

footer
{
    padding: 5%;
    color: #444;
    padding-right: 40%;
}

#footerinfo
{
    margin-top: 20px;
    display: flex;
    
}

.impr
{
    flex: 1;
    font-family: 'Varta', sans-serif;
}

/* ----------------- Homepage -------------------------- */

#uber
{
    display: flex;
    padding: 5%;
    margin-top: 100px;
}

.ubermich
{
    flex: 1;
    line-height: 20pt;
}

#mitarbeiten
{
    background-image: url(img/aufmacher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}

#mitarbeiten h2
{
    margin-bottom: 20px;
}


/* ----------------- Über mich --------------------- */


#contact
{
    display: flex;
    padding: 5%;
}

.contactsec
{
    flex: 1.5;
}

#contactsecleft
{
    padding-right: 10%;
    flex: 1;
}

#contactsecright
{
    font-family: 'Karla', sans-serif;
}

.shortin
{
    width: 46%;
}

.longin
{
    width: 95%;
}

input, textarea
{
    border-style: none;
    border-style: solid;
    padding: 1.5%;
    margin-bottom: 1%;
    font-family: 'Karla', sans-serif;
    font-size: 13pt;
    background: rgb(253, 254, 255);
    border-radius: 4px;
    border-color: rgb(234, 235, 236);
}

textarea
{
    width: 95%;
    height: 150px;
    resize: none;
    margin-bottom: 20px;
}

input[type=submit], .blackbutton
{
    border-color: #000000;
    background: #000000;
    color: #ffffff;
    border-radius: 0;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.75s;
    text-decoration: underline;
}

input[type=submit]:hover, .blackbutton:hover
{
    background: #ffffff;
    color: #000000;
    cursor: pointer;   
}



#thanks
{
    padding: 10%;
    text-align: center;
}


@media only screen and (max-width: 980px) {

#title
{
    flex: 3;
}

}



@media only screen and (max-width: 620px) {

    #pageup
    {
        left: auto;
        top: auto;
        right: 5%;
        bottom: 2%;
    }

    header
    {
        padding: 5vw;
    }

    #navbar
    {
        flex: 7;
    }

    #logosmall
    {
        flex: 1;
        width: 30vw;
    }

    #title
    {
        display: none;
    }

    h2
    {
        line-height: 40px;
    }

    .link
    {
        font-size: 11pt;
    }

    #headline
    {
        line-height: 50px;
    }

    #preproj
    {
        padding: 5%;
    }

    #aufmacher
    {
        height: 120vw;
        margin-bottom: 10vw;
    }

    #projekte
    {
        display: block;
        padding: 0;
    }

    .projekt
    {
        height: 100vw;
        margin-bottom: 15vw;
    }

    .projekthead
    {
        font-size: 16pt;
    }

    #ad
    {
        padding: 10vw;
    }

    footer
    {
        padding: 10vw;
    }

    #footerinfo
    {
        display: block;
    }

    #uber
    {
        margin-top: 10vw;
        display: block;
    }

    .ubermich
    {
        margin-top: 10vw;
    }

    #mitarbeiten
    {
        padding-top: 30vw;
        padding-bottom: 30vw;
    }

    #contact
    {
        display: block;
    }

    .shortin
    {
        width: 40vw;
    }
}

@media only screen and (max-width: 394px) {

.link
{
    font-size: 10pt;
}

#logosmall
{
    flex: 0.6;
}

}

@media only screen and (max-width: 344px) {

    #logosmall
    {
        flex: 0.3;
    }

}